#settingsWindow {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0%;
    left: 0%;
    background: #333;
    z-index: 100000;
    display: none;
    overflow-y: auto;
    overflow-x: hidden;
    font-family: "ubuntu";
}
#settingsWindow h1 {
    color: #eee;
    text-align: center;
}
#settingsWindow label {
    padding: 2em;
    width: 100%;
    color: #eee;
    text-align: center;
}
#settingsWindow hr {
    color: #eee;
    position: relative;
    text-align: center;
    border: 2px solid #eee;
    width: 90%;
    left: 10%;
}
#settingsWindow button {
    display: inline-block;
    min-width: 3em;
    min-height: 3em;
    border-radius: 1000px;
    border: none;
    padding: 0.5em;
    margin-left: 25%;
}
#settingsWindow input {
    display: inline-block;
    min-width: 15em;
    min-height: 1.5em;
    border-radius: 1000px;
    border: none;
    padding-left: 0.5em;
    margin-left: 24%;
}
#closeSettings {
    position: absolute;
    border-radius: 1000px;
    width: 3.5em;
    height: 3.5em;
    border: none;
    padding: 1em;
    top: 1em;
    left: 1em;
    margin-left: 0px;
    margin-right: 0px;
}
#closeSettings img {
    width: 1.5em;
    height: 1.5em;
    left: 1em;
    top: 1em;
    filter: invert(100%);
}
#settingsWindow .label {
    display: inline-block;
    width: 5em;
    margin-left: calc(32% - 5em);
}
#gameControl {
    width: 100%;
    position: relative;
    top: 25%;
}